.main-nav{
    height: 70px;
    align-items: center;
    padding: 0px 130px 0px 40px;
    display: flex;
    
}

.nav-logo-text{
    color: #000;
    font-style: normal;

    &:hover{//quando tiver a pssar o rato por la
        color: #000;
    }

}

.nav-logout-text{
    width: 100px;
    height: 30px;
    border: 1px solid #000000;
    border-radius: 10px;

    color: #000;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 14px;
    margin-right: 40px;
    text-align: center;
    float:right;
}