.review-box-container {
}

.review-box-text {
    width: 1130px;
    height: 50px;
    border: 1px solid #e1e1e1;
    border-radius: 20px;
    padding: 10px 0 0 20px;
    font-weight: normal;
    font-size: 14px;
    margin-left: 5px;
    color: #9e9e9e;
    text-align: left;
    margin-bottom: 16px;
}

.review-user-name {
    font-weight: bold;
    font-size: 16px;
    margin-bottom: 5px;
}
