.searchbar-container{
    height: 60px;
    width: auto;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 160px;
    margin-right: 185px;
    background-color: #6C6C6C;
    padding-left: 16px;
    padding-top: 5px;
}

.search-box{
    height: 50px;
    width: 250px;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
    
}