.searchbar-container{
    height: 60px;
    width: auto;
    border-radius: 10px;
    margin-top: 30px;
    margin-left: 160px;
    margin-right: 185px;
    background-color: #6C6C6C;
    padding-left: 16px;
    padding-top: 5px;
    
}

.search-box{
    height: 50px;
    width: 250px;
    border: 1px solid #E1E1E1;
    border-radius: 10px;
    display: flex;
    align-items: center;
    
    
    
}

.filter-select-container{
    flex: 1;
    margin-left: 10px;
    color: #6C6C6C;
    
    


    .genres-select__control{
        height: 40px;
        width: 230px;
        background-color: #6C6C6C;
        border: none;
        border-radius: 0;
        
    }
    
    .genres-select__indicator-separator{
        display: none;
        
    }
    
    .genres-select__placeholder{
        color: #fff;
    }

    .genres-select__single-value{
        color: #fff;
    }

    .genres-select__indicator{
        color: #fff;
    }

}