.movie-details-container{
    height: 370px;
    width: 1170px;
    background-color: #6C6C6C;
    border-radius: 10px;
    text-align: center;
    padding-top: 25px;
    align-content: center;
    display: flex;
    margin: 35px 0 0 150px;
}