.home-container{
    display: flex;
    margin: 40px 40px 130px 130px;
}

.left-content{
    margin-top: 40px;
    justify-content: space-around;
}

.home-title{
    margin-bottom: 70px;
}

.home-subtitle{
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 100px;
}

.home-image{
    margin-left: 40px;
}